{% props id = null, label = null, type = null, name = null, value = null, placeholder = null%}

<div>
    {% if id %}
        <label for={{ id }}>{{ label }}</label>
    {% endif %}

    <input
        {% if type %}type={{ type }}{% endif %}
        {% if name %}name={{ name }}{% endif %}
        {% if id %}id={{ id }}{% endif %}
        {% if autocomplete is defined %}autocomplete={{ autocomplete }} {% endif %}
        {% if autofocus is defined and autofocus %} autofocus {% endif %}
        {% if required is defined and required %} required {% endif %}
        {% if placeholder %} placeholder={{ placeholder }} {% endif %}
        {% if value %} value="{{ value }}"{% endif %}
        {% if data is defined %}data-controller={{ data }}{% endif %}
    >

</div>
