{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

    {% for item in breadcrumbs %}
        <p>id: {{ item.id }}</p>

        <span>Категория: </span>
        {% if item.is_active %}
            <p>{{ item.category_name }}</p>
        {% else %}
            <a href="{{ path('app_category', {slug: item.slug}) }}">slug: {{ item.category_name }}</a>
        {% endif %}

        {% if  item.product_count %}
            <p>Количество товаров: {{ item.product_count }}</p>
        {% endif %}
        <hr>
    {% endfor %}

{% endblock %}
